script#song-info-template(type='text/template')
	marquee#song-info(behavior='slide', direction='right')  {{-title}} - {{-singerName}} - {{-albumTitle}} - {{-release_date.getFullYear()}}
	ul#footer-menu 
		li.footerButton friends 
		li.footerButton statistic 
		li.footerButton info