script#sitetour-template(type='text/template')
	div#sitetour-shadow
		img#sitetour-arrow('src=/images/sitetour/arrow.png')
		div#sitetour-info
		div#sitetour-bar
			div#sitetour-next-button Next
			div#sitetour-cancel-button Exit
