script#menu-nav-template(type='text/template')
	ul
		li#favorites-button 
			.menu-icon.favourites-image
			.name Избранное
		li#albums-button
			.menu-icon.show-by-albums 
			.name Explorer
		li#radio-button
			.menu-icon.show-groupes 
			.name Радио
		li#genres-button
			.menu-icon.show-by-genres 
			.name Жанры
		li#playlists-button
			.menu-icon.show-playlists 
			.name Плейлисты

script#menu-playlist-template(type='text/template')
	.playlist-name-menu 
		{{-playlistName}}

script#menu-playlist-composite-template(type='text/template')
	.add-playlist-button Add playlist
		img(src='./images/menu/add.png')
	input.edit

