script#menu-nav-template(type='text/template')
	ul
		li 
			.menu-icon.favourites-image
			.name Избранное
		li
			.menu-icon.show-playlists 
			.name Плейлисты
		li
			.menu-icon.show-groupes 
			.name Радио
		li
			.menu-icon.show-by-genres 
			.name Жанры
		li
			.menu-icon.show-by-artists 
			.name Исполнители
		li
			.menu-icon.show-by-albums 
			.name Альбомы
		li
			.menu-icon.show-by-charts 
			.name Чарты