extends ./layout


block content

	div#header
		#notification
	div#player
	div#menu
	div#main
	div#sidebar
		#sidebar-region
		#sidebar-nav
	div.clear
	div#footer
	include ./header/header-template
	include ./header/userbar-template
	include ./header/notificationbar-template
	include ./header/searchbar-template
	include ./user/user-template
	include ./player/player-template
	include ./menu/menu-nav-template
	include ./main/playlists-template
	include ./sidebar/sidebar-template
	include ./sidebar/notification-template
	include ./footer/song-info-template

	script(type="text/javascript").
		window._is404Error = false;
		window._injectedData = JSON.parse('["data_replace"]');
