extends ./layout


block content
	div#header
		#notification
	div#player
	#menu-wrap
		div#menu
		#playlist-menu-container
	div#main-container
		div#visualisation-container
			#visualisation-controls
				#vc-waveform-visualisation.vc-option
				#vc-frequency-visualisation.vc-option
				#vc-particles-visualisation.vc-option
			#visualisation-fullscreen
			#visualisation
		#main
		div#result-main-composite
	div#sidebar
		#sidebar-region
		#sidebar-clear
	div#undo
	div.clear
	div#footer
	div#searchresults
	div#sidebar-nav
	include ./footer/song-info-template
	include ./header/header-template
	include ./header/userbar-template
	include ./header/notificationbar-template
	include ./header/searchbar-template
	include ./user/user-template
	include ./user/user-favorites-template
	include ./user/user-listened-template
	include ./user/user-playlists-template
	include ./search/searchresults-template
	include ./search/searchresults-item-template
	include ./player/player-template
	include ./menu/menu-nav-template
	include ./main/playlists-template
	include ./main/song-template
	include ./sidebar/sidebar-template
	include ./sidebar/notification-template
	include ./sidebar/statistic-template
	include ./sidebar/dialogue-composite-template
	include ./sidebar/dialogue-item-template
	include ./footer/song-info-template
	include ./main/album-bar-template
	include ./main/radio-bar-template
	include ./main/playlist-bar-template
	include ./main/comment-composite-template
	include ./main/comment-item-template
	include ./main/song-text-template
	include ./main/comment-layout-view-template
	include ./main/main-song-template
	include ./main/listened-template
	include ./main/friends-template
	include ./main/result-tile-template
	include ./main/result-songlist-template
	include ./main/no-result-template
	include ./main/empty-template
	include ./main/charts-template
	include ./main/album-composite-template
	include ./main/artist-composite-template
	include ./main/album-complete-template
	include ./visualisation/frequency-visualisation-template
	include ./visualisation/particles-visualisation-template
	include ./visualisation/waveform-visualisation-template

	script#not_found_template(type="text/template")
		h1 Page not found
		p
			|Seems the page you are looking for is apsent or moved. Try to go to&nbsp;
			a(href="/") homepage
			|&nbsp;and look out there

	script(type="text/javascript").
		window._is404Error = false;
		window._injectedData = JSON.parse('["data_replace"]');
