extends ./layout
include ./footer/song-info-template
include ./header/auth-template
include ./menu/menu-nav-template
include ./main/playlists-template
include ./player/player-template
include ./sidebar/sidebar-template

block content
	span hello here
	#header
	#player
	#menu
	#main
	#sidebar
	#footer