extends ./layout


block content

	.main_wrap
		#header
			#notification
		#player
		.clear
		#menu
		#main
		#sidebar
			#sidebar-region
			#sidebar-nav
		.clear
	#footer
	#searchresults
	include ./header/header-template
	include ./header/userbar-template
	include ./header/notificationbar-template
	include ./header/searchbar-template
	include ./user/user-template
	include ./search/searchresults-template
	include ./search/searchresults-item-template
	include ./player/player-template
	include ./menu/menu-nav-template
	include ./main/playlists-template
	include ./sidebar/sidebar-template
	include ./sidebar/notification-template
	include ./sidebar/statistic-template
	include ./footer/song-info-template
	include ./main/album-bar-template
	include ./main/radio-bar-template
	include ./main/comment-composite-template
	include ./main/comment-item-template
	include ./main/song-text-template
	include ./main/comment-layout-view-template

	script#not_found_template(type="text/template")
		h1 Page not found
		p
			|Seems the page you are looking for is apsent or moved. Try to go to&nbsp;
			a(href="/") homepage
			|&nbsp;and look out there

	script(type="text/javascript").
		window._is404Error = false;
		window._injectedData = JSON.parse('["data_replace"]');
