extends ./layout


block content
	include ./header/auth-template
	include ./player/player-template
	include ./menu/menu-nav-template
	include ./main/playlists-template
	include ./sidebar/sidebar-template
	div.clear
	include ./footer/song-info-template