extends ./layout


block content
	//404_placeholder

	div#header
	div#player
	div#menu
	div#main
	div#sidebar
	div.clear
	div#footer
	include ./header/userbar-template
	include ./player/player-template
	include ./menu/menu-nav-template
	include ./main/playlists-template
	include ./sidebar/sidebar-template
	include ./footer/song-info-template

	script(type="text/template", id="main_template").
		var data = JSON.parse('/** data_replace **/');
