extends ./layout


block content
	div#header
	div#player
	div#menu
	div#main
	div#sidebar
	div.clear
	div#footer
	include ./header/auth-template
	include ./player/player-template
	include ./menu/menu-nav-template
	include ./main/playlists-template
	include ./sidebar/sidebar-template
	include ./footer/song-info-template
