doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title hurri
		link(href="/styles/style.css", rel="stylesheet")
	body
		block content
		script(src="/javascripts/libs/require.js", data-main="/javascripts/main.js")