extends ./layout

block content
	.signin_page
		h1 Signin
		p Please Sing In
		.social_enter
			a(href='#odnoklassniki').ok Odnoklassniki
			a(href='#vkontakte').vk VKontakte
			a(href='#twitter').tw Twitter
			a(href='#facebook').fb Facebook
