extends ./layout

block content
	.signin_page
		h1 Signin
		p Please Sing In
		.social_enter
			a(href='/auth/odnoklassniki').ok Odnoklassniki
			a(href='/auth/vkontakte').vk VKontakte
			a(href='/auth/twitter').tw Twitter
			a(href='/auth/facebook').fb Facebook
