.song-item
	width 100%
	
.sidebar-song-wrap
	width 100%
	margin 0px auto
	height 38px
	border-radius 0px
	background #F3F4F8
	position relative
	border-bottom 1px solid #DFDFDF
	
	&:hover 
		background linear-gradient(to top, rgba(73,192,240,0.2) 0%,rgba(44,175,227,0.2) 100%)
		.add-song-to-queue
		.delete-song-from-list
			opacity 0.5
		.sidebar-song-cover
			background url('/../images/songlist/music.png') no-repeat
			background-size 33px
			opacity 0.8
			cursor pointer
			&:hover
				opacity 1


	.sidebar-song-img-box 
		background grey
		img
			width 27px
			height 27px
			float left
			padding 5px

	.sidebar-song-header
		padding 4px 0 0px 0
		height 16px
		overflow hidden
		text-overflow ellipsis
		display block
		width 70%
	.sidebar-song-cover
		width 29px
		height 29px
		float left
		padding 5px
		background url('/../images/songlist/music.png') no-repeat
		opacity 0.5
		background-size 33px
	.sidebar-song-info
		margin-left 35px
		height 15px
		text-overflow ellipsis
		overflow hidden
		display block
		font-size 12px
		width 70%

	.delete-song-from-list
		width 13px
		height 13px
		position absolute
		background: url('/../images/notifications/delete.png') no-repeat;
		background-size: 13px
		right 2px
		top 2px
		opacity 0

		&:hover 
			opacity 1
	a
		color #999
	.queuepos
		position absolute
		right 0
		bottom 1px
		font-size 10px
		font-weight bold
		margin-right 4px

	.add-song-to-queue
		width 12px
		height 12px
		position absolute
		background: url('../images/songlist/queue.png') no-repeat;
		background-size: 12px
		right 18px
		top 2px
		opacity 0

		&:hover 
			opacity 1

	&.activesong
		background rgba(73,192,240,1)
		.gif
			position absolute
			left 0
			display block
.gif
	display none
