#songlist-navi
	width 100%
	opacity 1
	top 0px
	height 30px
	font-size 12px
	> div
		color white
		text-align center
		line-height 30px
		vertical-align middle
		width 24.9%
		height 30px
		margin 0
		float left
		cursor pointer
		background #9e9e9e
		border-left 1px solid #777
		font-weight 600
		font-size 14px
		box-sizing border-box
		color white
		&:first-child
			border-left none

		.unqueue
				width 100%
				height 30px
				background url(/../../images/notifications/pop_out.png) no-repeat
				background-size 16px
				background-position center
				-webkit-filter brightness(100%) invert(100%)
		.clearall
				width 100%
				height 30px
				background url(/../../images/notifications/clear.png) no-repeat
				background-size 16px
				background-position center
				-webkit-filter brightness(100%) invert(100%)
		.save-playlist-from-queue
				width 100%
				height 30px
				background url(/../../images/notifications/save.png) no-repeat
				background-size 16px
				background-position center
				-webkit-filter brightness(100%) invert(100%)
		.save-playlist-as
				width 100%
				height 30px
				background url(/../../images/notifications/save_as.png) no-repeat
				background-size 16px
				background-position center
				-webkit-filter brightness(100%) invert(100%)
		&:hover
			background #4be

.toggled
	display none
#sidebar
	position absolute
	background #eee
	width 20%
	float left
	right 0px
	top 100px
	bottom 20px
	border-left 1px solid #dfdfdf
	
	#sidebar-region
		width 100%
		top 0px
		position absolute
		bottom 5px
		display block
		overflow auto
		#sidebar-songlist-container
			position absolute
			top 31px
			bottom 0px
			overflow scroll
			&::-webkit-scrollbar
				-webkit-appearance: none
				width 12px

			&::-webkit-scrollbar-thumb
				border-radius 12px
				border 4px solid rgba(255,255,255,0)
				background-clip content-box
				_background-color #bfbfbf
				background-color #A0A0A0
			
			&::-webkit-scrollbar-thumb:hover
				background-color #37a
				cursor pointer
			&::-webkit-scrollbar-track
				border-width 0
			
			&::-webkit-scrollbar-track:hover
				background-color #eee
			
		#sidebar-songlist-container
			width 100%

	.input-wrapper-sidebar	
		position absolute
		display none
		.edit2 
			position absolute
			display block
			width 100%
			height 30px
			font-size 20px
			margin-top 0px
			border 1px solid #bebebe
			padding-left 55px
			z-index 20
			box-sizing border-box
		.enter-button-add
			position absolute
			width 50px
			height 30px
			left -1px
			background #cdcdcd
			z-index 21
			&:hover
				background #4be
		.close-enter-add
			width 16px
			height 16px
			background url(../images/notifications/delete.png)
			background-size 16px
			position absolute
			z-index 21
			right 3px
			top 7px
			opacity 0.2
			&:hover
				opacity 1
			
	.editing2 .input-wrapper-sidebar	
		display block
		width 100%

#undo-replace
	width 100px
	height 40px
	padding 5px
	color lightblue
	position absolute
	z-index 20
	right 10px
	bottom 35px

