#statistic-title
	width 100%
	height 30px
	line-height 20px
	text-align center
	padding 5px 0px
	font-size 16px
	font-weight 500
	background #9e9e9e
	box-sizing border-box
	color white

#statistic
	margin-top 0px
	border-radius 2px
	background white
	opacity 0.8
	padding 0px
	width 100%
	height auto
	box-sizing border-box
	position relative
	.stat-item
		width 100%
		box-sizing border-box
		background white
		font-size 15px
		height 40px
		padding-top 10px
		&:hover
			color #555
			cursor pointer
			background #dcedea
		.statistic-name
			width 45%
			float left
			height 30px
			padding-left 5%
			box-sizing border-box
		.statistic-info
			float left
			width 50%
			height 30px
			box-sizing border-box
			font-weight 700
			cursor pointer



