#main
	&.toggled-main
		width 85%
#main-container
	background white
	float left
	width 65%
	overflow-y auto
	position absolute
	top 120px
	bottom 30px
	margin-left 15%
	&.toggled-main
		width 85%
.main-song-item
	width 95%
	border-top 1px solid #eee
	height 30px
	margin auto
	position relative
	background #fff
	&.activesong
		background lightblue
		.main-song-cover
			background url(/../images/main/media-pause.png) no-repeat
			background-size 20px
			opacity 0.5
			&:hover
				background url(/../images/main/media-pause.png) no-repeat
				background-size 20px 
				opacity 1
	.main-song-friends
		position absolute
		right 75px
		padding-top 5px
		float right
		a
			img
				width 20px
	.main-share-song
		width 14px
		height 14px
		background url(../images/main/share.png)
		background-size 14px
		position absolute
		z-index 15
		right 56px
		top 7px
		opacity 0
	.main-song-cover
		width 20px
		margin 5px
		height 20px
		float left
		background url(/../images/main/iMusic.png) no-repeat
		background-size 20px
		&:hover 
			background url(/../images/songlist/play_mini.jpg) no-repeat
			background-size 20px

	.main-song-info
		padding-top 5px
		float left
		height 20px
		overflow hidden
		display inline
		width 70%

		.main-song-name
			padding-top 3px
			height 10px
			text-overflow ellipsis
			font-weight bold
			display inline
			font-size 14px
			color #333
		.main-song-artist
			display inline
			color #555
			height 10px
			font-size 14px

	.main-queue-add
		width 14px
		height 14px
		background url(../images/main/add.png)
		background-size 14px
		position absolute
		z-index 15
		right 20px
		top 7px
		opacity 0
		&:hover
			opacity 1 !important
	.duration_min
			float right
			font-size 12px
			padding-top 8px
			padding-right 3px
	.main-like-song
		width 14px
		height 14px
		background url(../images/main/like.png)
		background-size 14px
		position absolute
		z-index 15
		right 38px
		top 7px
		opacity 0
		&:hover
			opacity 1 !important
		&.true
			opacity 1 !important
		
	&:hover
		background #eef
		.main-share-song
		.main-like-song
			opacity 0.5
		.main-queue-add
			opacity 0.5
		.duration_min
			opacity 0
		.main-song-cover
			background url(/../images/main/media-play.png) no-repeat
			background-size 20px
			opacity 0.5
			&:hover 
				opacity 1
		&.activesong
			.main-song-cover
				background url(/../images/main/media-pause.png) no-repeat
				background-size 20px
				opacity 0.5
				&:hover
					opacity 1
			
	.poschange
		position absolute
		height 30px
		width 30px	
		right 80px
		padding-top 5px
		background url(../images/main/Circle.png) no-repeat
		background-size 30px
		
.global-zeroclipboard-container:hover
	background url(../images/main/share.png) no-repeat
	background-size 14px
	opacity 0.8

#visualisation-container
	overflow: hidden
	position: relative

#visualisation-fullscreen
	background: #333 url(../images/fullscreen_alt.png)
	background-size: 80% 80%
	background-position: 50% 50%
	background-repeat: no-repeat
	width: 30px
	height: 30px
	opacity: 0.1
	cursor: pointer
	position: absolute
	bottom: 20px
	right: 20px
	z-index: 101
	&:hover
		opacity: 1

#visualisation-controls
	position: absolute
	left: 50%
	margin-left: -20px
	height: 30px
	width: 85px
	background: #333
	opacity: 0.1
	z-index: 101
	&:hover
		opacity: 1

.vc-option
	display: inline-block
	height: 20px
	width: 20px
	box-sizing: border-box
	color: white
	cursor: pointer
	margin-right: 7px
	background-size: 100% 100% 
	margin-top: 5px

.vc-option:last-child
	margin: 0px

.vc-option:first-child
	margin-left: 5px


#vc-frequency-visualisation
	background: url(../images/player/visualisation.png)

#vc-waveform-visualisation
	background: url(../images/waveform.png)

#vc-particles-visualisation
	background: url(../images/iconParticles.png)

#frequency-visualisation-container
	padding-bottom: 80px
	padding-left: 8px
	overflow: hidden

#frequency-visualisation-canvas
	width: 100%
	@css{
  -webkit-box-reflect: below 5px -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255,255,255,0.2))
	}

#particles-visualisation-container
#waveform-visualisation-container
	padding-left: 8px
	overflow: hidden
	background: black

#particles-visualisation-canvas
#waveform-visualisation-canvas
	width: 100%

.visualisation-fullscreen #particles-visualisation-container canvas
.visualisation-fullscreen #waveform-visualisation-container canvas
	height: 100%

.visualisation-fullscreen
	overflow: initial

	#visualisation-controls
	#visualisation-fullscreen
		position: fixed
		
	.visualisation-container
		background: white
		z-index: 100
		position: fixed
		left: 0px
		top: 120px
		width: 100%
		height: 100%
	
	#visualisation-fullscreen
		background: #333 url(../images/fullscreen_exit.png)
		background-size: 80% 80%
		background-repeat: no-repeat
		background-position: 50% 50%

