#charts-header
	width 100%
	height 50px
	padding 5px 50px
	box-sizing border-box

	.charts-select-button
		width auto
		height auto
		border 1px lightgray solid
		border-radius 3px
		padding 2px 5px
		margin 5px
		float left
		cursor pointer

		&:hover
			background lightgray