#header-playlist-wrapper
	width 100%
	position relative
	min-height 200px
	background white

	#playlist-avatar-header 
		width 190px
		height 180px
		position relative
		float left
		img
			position  absolute
			width 170px
			height 150px
			padding 10px

		.playlist-play
			width 100px
			height 100px
			position absolute
			left 50px
			top 35px
			&:hover
				cursor pointer
				background #333
				opacity 0.4
				&:after
					content ''
					position absolute
					left 50%
					top 50%
					margin-top -18px
					margin-left -15px
					width 30px
					height 36px
					background: url('/images/player/player.png') no-repeat -575px 0

	#header-playlist-info
		position absolute
		display inline
		padding-top 10px
		#playlist-header-name
			font-size 30px
			color Dark
		#playlist-header-tracks-num
			font-size 13px
			color #4f4f51