#header-playlist-wrapper
	header_playlist_bg = rgb(243, 251, 255)
	width 100%
	position relative
	min-height 200px
	background header_playlist_bg
	box-shadow 0 10px 20px 10px  header_playlist_bg

	#playlist-avatar-header 
		width 190px
		height 180px
		position relative
		float left
		img
			position  absolute
			width 170px
			height 150px
			padding 10px

	#header-playlist-info
		position absolute
		display inline
		padding-top 10px
		#playlist-header-name
			font-size 30px
			color Dark
		#playlist-header-tracks-num
			font-size 13px
			color #4f4f51