#main-bar-header
	width 100%
	height 40px
	background #333
	margin 0px auto
	border-top 1px solid #999

	#genres-select
		display inline-block
		height 30px
		margin-right 20px
		margin-left 25%
		option
			padding 5px
	#album-select
	#artist-select
	#track-select
		padding 10px	
		display inline-block
		height 20px
		text-align center
		border-left 1px solid grey
		color white
		width 80px
		&:last-child
			border-right 1px solid grey
		&:hover
			background #39d

.album-bar-wrapper
	margin auto
.album-bar 
	width 150px
	height 200px

	background-size 150px
	float left
	margin 10px
	position relative
	overflow hidden
	img.albumCover
		width 150px

	.artistAlbum
		width 100%
		height 15%
		background white
		opacity 1
		text-align center

	.totalTracksAlbum
		width 100%
		height 15px		
		background white
		opacity 1
		text-align center
		
	.nameAlbum
		position absolute
		bottom 0
		width 100%
		height 15px
		background white
		opacity 1
		text-align center
		overflow hidden
		text-overflow hidden