.radio-wrapper
	width  80%
	min-width 600px
	margin 1%
	height 300px
	display block
	background rgba(244,244,244,1) 
	position relative
	padding 10px
	margin 1% auto
	border 1px solid #dedede
	
	.left-side
		display block
		width 50%
		float left
		height 100%
	.nameRadio
		width 100%
		height 30px
		font-size 25px
		color #777
		padding-bottom 5px
	.first-track-in-list
		font-size 13px
		font-weight bold
		color #555
	.tracksnames
		font-size 13px
		color grey
		max-width 250px
		height 15px
		text-overflow ellipsis
		overflow hidden
		display inline
		&:hover
			color DodgerBlue
			cursor pointer
	.recommend-radio-wrapper
		position absolute
		bottom 15px
		left 15px
		width 300px
		.master-avatar
			display block
			width 50px
			margin auto
			border-radius 25px
		.masterName
			height 20px
			color #bbb
			display block
		.recommend-channel-header
			border-bottom 1px solid #ccc
			color #ccc

	
	.tracks-side
		height 90%
		width 50%
		float left
		.listeners-list-wrap
			height 120px
			overflow hidden	
			img
				width 50px
				height 50px
				margin 5px
				border-radius 5px
		.playicon
			width 100px
			height 40px
			background #999
			text-align center
			padding-top 20px
			margin 50px auto
			color white
			font-weight bold
			&:hover 
				background #aaa
				cursor pointer


.radio-main-header
	height 30px
	width 100%
	text-align center
	color white
	background #333
	padding-top 10px
	border-top 1px solid #aaa
.create-new-radio
	width 100%
	border-bottom 1px solid #ccc
	background #ddd
	&:hover 
		background #ccc
	.create-new-radio-img
		margin auto
		width 30px
		height 30px
		background url(/../../images/menu/add.png) no-repeat
		background-size 25px
		background-position center
		&:hover
			opacity 0.6
		&:active 
			opacity 0.8

		