#song-info-content
	#song-info-text
		width 90%
		margin 3% auto
	#song-info-image 
		width 200px
		height 200px
		margin 3% auto
		img
			width 190px
			
#comment-buttons-wrapper
	width 100%
	margin auto
	height 30px
	#show-song
		width 50%
		height 30px
		background linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%)
		float left
		border-right 1px solid lightgrey
		text-align center
		box-sizing border-box
	#show-comments
		width 50%
		height 30px
		background linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%)
		float left
		text-align center
#add-comment
	width 40px
	background lightblue
	cursor pointer
#comment-layout-content
	#song-text
		width 90%
		margin 2% auto
	#new-comment
		margin 3%
		width 80%
		float left
	#add-comment
		margin-top 3%
		float left
		width 5% 
		