random(a,b)
  return math(math(0, 'random')*(b - a + 1) + a, 'floor')

#playlist-bar-wrapper
	width 98%
	margin-top 35px
	padding 1%px
	float left
	overflow-y auto
	position absolute
	top 0px
	bottom 0px


.playlist-bar
	width 90%
	height 250px
	position relative
	float left
	margin 5px 20px
	border 1px solid #dedede
	background #f4f4f4

	.playlist-date
		font-size 15px
		width 35px
		height 15px
		text-overflow hidden
		overflow hidden
		color #eee
		margin auto

	.playlist-left
		width 300px
		float left
		height 250px
		padding 1px
		margin-right 10px
		text-align center
		position relative
		background: url('/images/main/playlistbg/3.jpg') no-repeat
		background-size	auto 100%
		.play-without-open
			display none
			width 30px
			height 20px
			background linear-gradient(to top, #eee 0%, #ddd 100%)
			border-radius 2px
			border 1px solid lightgray

		.playlist-name
			top 5px
			position absolute
			width: 100%;
			height: 30px;
			font-size: 25px;
			color: #777;
			padding-bottom: 5px;


		.playlist-private
			position absolute
			width 32px
			height 32px
			right 5px
			bottom 32px
			background: url('/images/lock.png') no-repeat
			background-size 32px
			opacity 0.5
			z-index 5
			&.private
				opacity 1
		.playlist-play
			width 120px
			height 120px
			top 0px
			left 80px
			position absolute
			img
				width 100%
				height 100%
				position absolute
				top 60px
				left 15px
				opacity 0.5	
				&:hover
					opacity 0.8
					cursor pointer


	.playlist-right
		padding 5px
		float left
		width 45%
		background #f4f4f4
		height 242px
		min-height 240px
		text-align center
		overflow hidden
		box-sizing border-box
		.songs-list
			margin-top 55x
			text-align left
			list-style-type decimal-leading-zero
			list-style-position inside
			height 240px
			overflow hidden
		.songname-playlist
			border-top 1px solid #dedede
			line-height 30px
			color #333
			text-overflow ellipsis
			overflow hidden
			font-size 15px
			height 30px
			width 90%
			white-space nowrap
			&:first-child
				border none
			.bold
				color red
			.normal
				display inline
		.playlist-total
			font-size 14px
			position absolute
			bottom 10px
			left 310px
			color #333333
			span
				.bold
				.normal
					display inline
	.right-list-header
		width: 100%;
		height: 20px;
		font-size: 16px;
		color: #a3c6df
		padding-bottom: 5px;
		padding-top 10px
		text-align left
		font-weight bold

