#main-bar-header
	width 100%
	height 40px
	background #333
	margin 0px auto
	border-top 1px solid #999

	#genres-select
		display inline-block
		height 30px
		margin-right 20px
		margin-left 25%
		option
			padding 5px
	#album-select
	#artist-select
	#track-select
		padding 10px	
		display inline-block
		height 20px
		text-align center
		border-left 1px solid grey
		color white
		width 80px
		&:last-child
			border-right 1px solid grey
		&:hover
			background #39d

.album-bar-wrapper
	margin auto
.album-bar 
	width 150px
	height 200px
	background-size 150px
	border 1px solid #dedede
	padding 5px
	float left
	margin 10px
	position relative
	overflow hidden
	font-family Lucida Grande,Arial,sans-serif;
	font-size 14px
	color #555
	boder-radius 2px
	img.albumCover
		width 150px
	.nameAlbum
		position relative
		bottom 0
		width 100%
		height 16px
		background white
		opacity 1
		color black
		overflow hidden
		text-overflow hidden
	.artistAlbum
		width 100%
		background white
		overflow hidden
		opacity 1
		height 13px
		color #999

	.totalTracksAlbum
		width 100%
		height 13px		
		background white
		opacity 1
		color #ddd
		
