.friend
	padding 5px
	height 30px
	display block
	position relative
	background #efefef
	font-family Lucida Grande,Arial,sans-serif;
	font-size 14px
	color #333
	&:last-child
		border-bottom 1px solid #dedede
	&:hover
		background #4be
		color white
		border-color lightblue
		opacity 0.8
	.send-message
		img
			position absolute
			top 30%
			right 25px
			width 16px
			height 16px	
			opacity 0.3
			&:hover
				opacity 0.8
				-webkit-filter brightness(1000%)
	.delete-friend
		position absolute
		top 30%
		right 5px
		width 18px
		height 18px	
		opacity 0.3
		&:hover
				opacity 0.8
				-webkit-filter brightness(1000%)
	img
		width 30px
		height 30px
		float left
	p 
		float left
		padding-top 5px
	div 
		img
			position absolute
			top 2px
			right 2px
			width 12px
			height 12px

#friends-navi
	background #9E9E9E
	opacity 1
	height 30px
	.friends-navi
		height 30px
		line-height 30px
		vertical-align middle
		width 50%
		float left
		color #333
		background #9E9E9E
		text-align center
		cursor pointer
		border-left 1px solid #888
		box-sizing border-box
		font-weight 600
		font-size 14px
		color white
		&:first-child
			border-left none
		&:hover
			background #4be
			color white


#filter-friend
	width 100%
	height 27px
	padding-left 27px
	box-sizing border-box
img.filter-image
	width 14px
	position absolute
	top 36px
	left 6px

.give-rights-button 
	position absolute
	right 48px
	top 70px
	width 103px
	height 24px
	font-size 18px
	color #333
	z-index 35
	right -70
	&:hover
		cursor pointer
		color SkyBlue
