.friend
	padding 2%
	height 35px
	display block
	margin 5px
	position relative
	background #efefef
	border-top 1px solid #9e9e9e
	border-bottom 1px solid #9e9e9e
	.send-message
		img
			position absolute
			top 33%
			right 2px
			width 25px
			height 25px		
	img
		width 35px
		height 35px
		float left
	p 
		float left
	div 
		img
			position absolute
			top 2px
			right 2px
			width 12px
			height 12px

#friends-navi
	background Snow
	opacity 1
	height 40px
	border-top 1px solid #999
	.friends-navi
		height 40px
		line-height 40px
		vertical-align middle
		width 50%
		float left
		color white
		background #333
		text-align center
		cursor pointer
		border-left 1px solid #fff
		box-sizing border-box
		&:first-child
			border-left none
		&:hover
			background #39b


#filter-friend
	width 100%
	height 30px
	padding-left 30px
img.filter-image
	width 17px
	position absolute
	top 49px
	left 6px

.give-rights-button 
	position absolute
	right 48px
	top 40px
	width 103px
	height 24px
	font-size 18px
	color #333
	z-index 35
	right -70
	&:hover
		cursor pointer
		color SkyBlue
