.friend
	padding 5px
	height 30px
	display block
	position relative
	background #efefef
	font-family Lucida Grande,Arial,sans-serif;
	font-size 14px
	color #333
	&:last-child
		border-bottom 1px solid #dedede
	&:hover
		background lightblue
		color white
		border-color lightblue
	.send-message
		img
			position absolute
			top 30%
			right 10px
			width 16px
			height 16px	
			opacity 0.3
			&:hover
				opacity 0.8	
	img
		width 30px
		height 30px
		float left
	p 
		float left
		padding-top 5px
	div 
		img
			position absolute
			top 2px
			right 2px
			width 12px
			height 12px

#friends-navi
	background Snow
	opacity 1
	height 40px
	border-top 1px solid #999
	.friends-navi
		height 40px
		line-height 40px
		vertical-align middle
		width 50%
		float left
		color white
		background #333
		text-align center
		cursor pointer
		border-left 1px solid #fff
		box-sizing border-box
		&:first-child
			border-left none
		&:hover
			background #39b


#filter-friend
	width 100%
	height 30px
	padding-left 30px
img.filter-image
	width 17px
	position absolute
	top 49px
	left 6px

.give-rights-button 
	position absolute
	right 48px
	top 70px
	width 103px
	height 24px
	font-size 18px
	color #333
	z-index 35
	right -70
	&:hover
		cursor pointer
		color SkyBlue
