script#song-item-template(type='text/template')
	.sidebar-song-wrap
		.sidebar-song-img-box
			img(src='{{-albumCover}}', alt='')	
		.sidebar-song-header
			h4 {{-title}}
		.sidebar-song-info
			{{-singer.name}}
	