script#song-item-template(type='text/template')
	.sidebar-song-wrap
		.sidebar-song-img-box
			img(src='{{-cover}}', alt='')	
		.sidebar-song-header
			h4 {{-name}}
		.sidebar-song-info
			{{-artist}} - {{-albumname}}
	