script#header-template(type='text/template')
	a(href="/")
		img#hurri-logo(src='/images/logo.png')
	div#hotkeysbar(title='Hotkeys')
	div#userbar(title='User profile')
	div#notificationbar
	div#searchbar
