#menu-wrap
	position absolute
	width 15%
	top 120px
	bottom 30px
	box-shadow 2px 0 5px rgba(50,50,50,0.5)
	background #eee
	z-index 1
	&::-webkit-scrollbar
		display none
	#menu
		width 100%

	#menu li
		height 38px
		border-bottom 1px solid darkgrey
		list-style-type none;
		background #efefef
		&:hover
			cursor pointer

		.menu-icon
			width 28px
			height 28px
			float left
			opacity: 0.5
			margin-top 4px
			margin-left 4px
			margin-right 4px
			
			&.favourites-image
				background: url('../images/menu/favorites.png') no-repeat;
				background-size: 28px
			&.show-playlists 
				background: url('../images/menu/playlists.png') no-repeat;
				background-size: 28px
			&.show-groupes
				background: url('../images/menu/radios.png') no-repeat;
				background-size: 28px
			&.show-by-genres 
				background: url('../images/menu/genres.png') no-repeat; 
				background-size: 28px
			&.show-by-artists
				background: url('../images/menu/artists.png') no-repeat;
				background-size: 28px
			&.show-by-albums
				background: url('../images/menu/albums.png') no-repeat;
				background-size: 28px
			&.show-by-charts
				background: url('../images/menu/charts.png') no-repeat;
				background-size: 28px
		.name
			padding-top 10px
		&:hover 
			background Skyblue
	#playlist-menu-container
		margin-left 0px
		position absolute
		top 200px
		bottom 0px
		overflow scroll
		.menu-playlist-item
			height 30px
			line-height 30px
			vertical-align middle
			position relative
			overflow hidden
			&:hover
				background lightblue
			.playlist-name-menu
				color black
				padding-right 35px
				padding-left 15px
				cursor pointer
				border-bottom 1px solid #ddd
			.delete-menu-playlist
				width 30px
				height 30px
				background url('../images/notifications/bin.png') no-repeat 50%
				background-size 16px
				position absolute
				right 0
				top 0
				opacity 0.5
				&:hover
					cursor pointer
					opacity 1
						
					
		.add-playlist-button
			background #c0c0c0
			padding 2% 0 2% 2%
			cursor pointer
			font-size 14px
			img 
				width 15px
				float left
				padding 0 3px 0
			&:hover 
				background #fff
	.edit 
		display none

	.editing .edit
		display block
		width 100%
		padding 6px 10px
		box-sizing border-box
		position absolute
		z-index 2
		top 195px
		border 1px solid lightblue
