@require 'mixin.styl'
/*Colors*/
default_bg = gray
vk_bg = #42618b
ok_bg = #d5702e
tw_bg = #3b9bda
fb_bg = #2f4885

/*Font*/
basic_font = 'HelvetivcaNeue', 'Helvetivca Neue', sans-serif

body
	font-family basic_font
	width 100%
	min-width 1280px
	height 100%
*
	margin 0
	padding 0
	
	&:focus 
		outline none

.bold 
	font-weight bold

#song-text-name
	font-size 14px
	font-weight bold
.clear
	clear both

button
	margin auto 3px 
	background #2b2e31
	border none

.spinner
	width 100%
	height 100%
	img
		width 32px
		height 32px
		margin-left 49%
		margin-top 30px
/*Sign in styles*/
@import url(signin.styl);
@import url(not_found.styl);
@import url(../player/player_style.styl);
@import url(../player/player_ranges_style.styl);
@import url(header_style.styl);
@import url(footer_style.styl);
@import url(../sidebar/sidebar_navigation_style.styl);
@import url(../sidebar/sidebar_notification_style.styl);
@import url(../sidebar/sidebar_playlistview_style.styl);
@import url(../sidebar/sidebar_songview_style.styl);
@import url(../sidebar/sidebar_statisticview_style.styl);
@import url(menu_style.styl);
@import url(../main/main_search_style.styl);
@import url(../main/main_radio_style.styl);
@import url(../main/main_profile_style.styl);



