/*Colors*/
default_bg = gray
vk_bg = #42618b
ok_bg = #d5702e
tw_bg = #3b9bda
fb_bg = #2f4885

/*Font*/
basic_font = 'HelvetivcaNeue', 'Helvetivca Neue', sans-serif

/*Header*/
header_height = 50px
header_background_color = #27709b

bar_height = 36px
searchbar_width = 300px

body
	font-family basic_font
	width 100%
	min-width 1000px

*
	margin 0
	padding 0

#header
	width 100%
	height header_height
	background header_background_color
	padding 5px
	box-sizing border-box

#hurri-logo
	height 40px
	cursor pointer

#userbar
	width auto
	height bar_height
	float right
	cursor pointer
	margin 2px
	border-style hidden
	border-radius 3px
	box-sizing border-box

	#avatar-icon
		width auto
		height 100%
		max-width 50px
		border-style hidden
		border-top-left-radius 3px
		border-bottom-left-radius 3px
		box-sizing border-box

	#name-field
		width auto
		height 100%
		float right
		color black
		background linear-gradient(to bottom,#00bfff, #1e90ff)
		font-weight 700
		line-height bar_height
		list-style-type none
		padding-left 10px
		padding-right 10px
		border-style hidden
		border-top-right-radius 3px
		border-bottom-right-radius 3px
		box-sizing border-box

		&:hover
			background #00bfff

#searchbar
	width auto
	height bar_height
	float left
	cursor pointer
	margin 2px
	margin-left 50px
	border-style hidden
	border-radius 3px
	box-sizing border-box

	#search-input
		width searchbar_width
		height 100%
		line-height 25px
		border-style hidden
		border-top-left-radius 3px
		border-bottom-left-radius 3px
		box-sizing border-box

		&:focus
			outline none

	#search-button
		width auto
		height 100%
		float right
		color black
		background linear-gradient(to bottom,#00bfff, #1e90ff)
		font-weight 700
		line-height bar_height
		list-style-type none
		padding-left 10px
		padding-right 10px
		border-style hidden
		border-top-right-radius 3px
		border-bottom-right-radius 3px
		box-sizing border-box

		&:hover
			background #00bfff

#player
	height 60px
	margin 0 auto
	background #2b2e31
#player-content
	height 70px 
	width 80%
	margin auto
#main
	background orange
	float left
	width 50%

#menu
	background green
	width 25%
	float left

#menu li
	height 30px
	border 1px solid darkgrey
	list-style-type none;

#sidebar
	background yellow
	width 25%
	float left

#sidebar li
	height 30px
	border 1px solid darkgrey
	list-style-type none;

#footer
	height 30px
	background #2b2e31
	border-top 1px solid darkgrey

#song-info
	width 70%
	margin 4px 10px
	color #529de1
	float left

#footer-menu
	list-style-type none;
	float right
	display inline
	width 25%

.footer-button
	padding 4px 10px
	width 25%
	height 30px
	color darkgrey
	float right

.clear
	clear both

button
	margin auto 3px 
	background #2b2e31
	border none

.player-button
	height 25px
	width 25px
	background-size cover
	float left
	margin-top 15px
.player-button:focus
	outline 0
.player-button:active
	position relative
	top 1px
#play-button
	height 48px
	width 48px
	margin-top 5px
#play-button.pause
	background-image url(../images/player/play.png)
#play-button.pause:hover
	background-image url(../images/player/play_hover.png)
#play-button.pause:active
	background-image url(../images/player/play_active.png)

#play-button.play
	background-image url(../images/player/pause.png)
#play-button.play:hover
	background-image url(../images/player/pause_hover.png)
#play-button.play:active
	background-image url(../images/player/pause_active.png)

#next-button
	background-image url(../images/player/next.png)
#next-button:hover
	background-image url(../images/player/next_hover.png)
#next-button:active
	background-image url(../images/player/next_active.png)
#next-button:disabled
	background-image url(../images/player/next_disabled.png)
#previous-button
	background-image url(../images/player/prev.png)
#previous-button:hover
	background-image url(../images/player/prev_hover.png)
#previous-button:active
	background-image url(../images/player/prev_active.png)
#previous-button:disabled
	background-image url(../images/player/prev_disabled.png)
#volume
	margin 15px 0 0 5px
#volume.unmute
	background-image url(../images/player/volume.png)
#volume.mute
	background-image url(../images/player/volume_off.png)
#volume-range
	width 10%
#playback-range
	width 45%

#shuffle-button.shuffleoff
	background-image url(../images/player/unshuffle.png)
#shuffle-button.shuffleoff:hover
	background-image url(../images/player/unshuffle_hover.png)
#shuffle-button.shuffleoff:active
	background-image url(../images/player/unshuffle_active.png)

#shuffle-button.shuffleon
	background-image url(../images/player/shuffle.png)
#shuffle-button.shuffleon:hover
	background-image url(../images/player/shuffle_hover.png)
#shuffle-button.shuffleon:active
	background-image url(../images/player/shuffle_active.png)

#repeat-button.song
	background-image url(../images/player/repeat_track.png)
#repeat-button.song:hover
	background-image url(../images/player/repeat_track_hover.png)
#repeat-button.song:active
	background-image url(../images/player/repeat_track_active.png)

#repeat-button.none
	background-image url(../images/player/repeat.png)
#repeat-button.none:hover
	background-image url(../images/player/repeat_hover.png)
#repeat-button.none:active
	background-image url(../images/player/repeat_active.png)

#repeat-button.album
	background-image url(../images/player/repeat_all.png)
#repeat-button.album:hover
	background-image url(../images/player/repeat_all_hover.png)
#repeat-button.album:active
	background-image url(../images/player/repeat_all_active.png)


#like-button
	background-image url(../images/player/like.png)
#like-button:hover
	background-image url(../images/player/like_hover.png)
#like-button:active
	background-image url(../images/player/like_active.png)
#comment-button
	background-image url(../images/player/comment.png)
#comment-button:hover
	background-image url(../images/player/comment_hover.png)	
#comment-button:active
	background-image url(../images/player/comment_active.png)			

input[type='range'] {
    float left
    height 6px
    margin 10px
    margin-top 24px
    border: none;
    padding: 1px 2px;
    border-radius: 5px;
    background: #232528;
    box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    outline: none;
}
input[type='range']::-moz-range-track {
    border: inherit;
    background: transparent;
}
input[type='range']::-ms-track {
    border: inherit;
    color: transparent;
    background: transparent;
}
input[type='range']::-ms-fill-lower,
input[type='range']::-ms-fill-upper {
    background: transparent;
}
input[type='range']::-ms-tooltip {
    display: none;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 10px;
    border: none;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f));
    background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%);
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
}
input[type='range']::-moz-range-thumb {
    width: 15px;
    height: 10px;
    border: none;
    border-radius: 12px;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
}
input[type='range']::-ms-thumb {
    width: 15px;
    height: 10px;
    border-radius: 5px;
    border: 0;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
}

#shuffle-button


/*Sign in styles*/
.signin_page
	text-align center
.social_enter
	margin-top 20px
	text-align center
	a
		font-size 14px
		text-decoration none
		color #fff
		display inline-block
		margin-right 10px
		padding 5px 10px
		background default_bg
		box-shadow 0 2px 0 darken(default_bg, 10)
		&.vk
			&:hover
				background darken(vk_bg, 10)
			background vk_bg
			box-shadow 0 2px 0 darken(vk_bg, 10)
		&.ok
			&:hover
				background darken(ok_bg, 10)
			background ok_bg
			box-shadow 0 2px 0 darken(ok_bg, 10)
		&.tw
			&:hover
				background darken(tw_bg, 10)
			background tw_bg
			box-shadow 0 2px 0 darken(tw_bg, 10)
		&.fb
			&:hover
				background darken(fb_bg, 10)
			background fb_bg
			box-shadow 0 2px 0 darken(fb_bg, 10)