@require 'mixin.styl'
/*Colors*/
default_bg = gray
vk_bg = #42618b
ok_bg = #d5702e
tw_bg = #3b9bda
fb_bg = #2f4885

/*Font*/
basic_font = 'HelvetivcaNeue', 'Helvetivca Neue', sans-serif

/*Header*/
header_height = 60px
header_background_color = #27709b

bar_height = 40px
searchbar_width = 300px

body
	font-family basic_font
	width 100%
	min-width 1280px
	height 100%
*
	margin 0
	padding 0
	
	&:focus 
		outline none
#header
	width 100%
	min-width 1280px
	height header_height
	background #318ABD
	padding 10px
	box-sizing border-box
	border-bottom 1px solid #5ac

#hurri-logo
	height 40px
	cursor pointer
	float left

#userbar
	width auto
	height bar_height
	float right
	background linear-gradient(to bottom, rgba(255,255,255,.3) 0, rgba(255,255,255,.2) 100%)
	border-style hidden
	border-radius 3px
	box-sizing border-box

	&:hover
		background #529de1

	#avatar-icon
		width bar_height
		height bar_height
		max-width 50px
		cursor pointer
		border-style hidden
		border-top-left-radius 3px
		border-bottom-left-radius 3px
		box-sizing border-box

	#name-field
		width auto
		height 100%
		float right
		font-size 15px
		font-weight 700
		line-height bar_height
		padding-left 10px
		padding-right 10px
		cursor pointer
		border-style hidden
		border-top-right-radius 3px
		border-bottom-right-radius 3px
		box-sizing border-box

#notificationbar
	width auto
	height bar_height
	float right
	margin-right 10px
	background linear-gradient(to bottom, rgba(255,255,255,.3) 0, rgba(255,255,255,.2) 100%)
	cursor pointer
	border-style hidden
	border-radius 3px
	box-sizing border-box

	&:hover
		background #529de1

	#notification-icon
		width bar_height
		height bar_height
		cursor pointer
		box-sizing border-box

	#unread-number
		height 20px
		width 20px
		background orange
		cursor pointer
		border-radius 3px
		text-align center
		font-size 90%
		font-weight bold
		color white
		display inline
		padding 1px 2px
.bold 
	font-weight bold
#searchbar
	width auto
	height bar_height
	float right
	margin-right 50px
	border-style hidden
	border-radius 3px
	box-sizing border-box

	#search-input
		width searchbar_width
		height bar_height
		font-size 18px
		border-style hidden
		border-top-left-radius 3px
		border-bottom-left-radius 3px
		box-sizing border-box
		padding 0 10px
		&:focus
			outline none

	#search-button
		width auto
		height bar_height
		float right
		background linear-gradient(to bottom, rgba(255,255,255,.3) 0, rgba(255,255,255,.2) 100%)
		font-size 15px
		font-weight 700
		line-height bar_height
		cursor pointer
		padding-left 10px
		padding-right 10px
		border-style hidden
		border-top-right-radius 3px
		border-bottom-right-radius 3px
		box-sizing border-box

		&:hover
			background #529de1
#filter-friend
	width 100%
	height 30px
	padding-left 30px
img.filter-image
	width 28px
	position absolute
	top 42px
	border-right 1px solid lightgray
#searchresults
	position absolute
	width 300px
	height auto
	max-height 500px
	margin-top -7px
	overflow hidden
	overflow-y auto
	display none
	cursor pointer
	z-index 30
	background-color #fff
	box-shadow 0 1px 1px rgba(0, 0, 0, 0.4)
	border-radius 0 0 3px 3px

	.searchresults-region_album
	.searchresults-region_artist
	.searchresults-region_song
		width 290px
		height auto
		border-style hidden
		border-radius 2px
		margin 5px
		box-shadow 0px 0px 1px 0px rgba(50, 50, 50, 0.5)
		position relative
		cursor pointer

		.result-item
			width 290px
			height 40px
			background white
			border-bottom 1px solid #c3c3c3
			box-sizing border-box
			cursor pointer

			&:hover
				background #d3d3d3

			.result-cover
				width 40px
				height 40px
				float left
				border-right-style solid
				border-right-width 1px
				border-right-color #c0c0c0

			.result-title
				width 240px
				height 40px
				float left
				font-size 15px
				margin-left 5px
	.show-more-results
		height 20px
		padding 0 10px

.result-album-composite
.result-artist-composite
.result-song-composite
	display block
		
.result-header
	font-weight bold
	color #4B90E7
	display block
	width 98%
	padding-left 2%
	background  linear-gradient(to bottom, rgba(240,240,240,.9) 0, rgba(250,250,250,.9) 100%)
	padding-top 3px
	padding-bottom 3px
	position relative
	border-top 1px solid lightgray
.show-full-song-search
.show-full-album-search
.show-full-artist-search
	font-weight normal
	width 99%
	padding-left 1%
	color black
	font-size 12px
	display block

.tile-album-wrapper
.tile-artist-wrapper
	display inline-block
	width 100px
	height 120px
	&:last-child
		clear none
	img.result-tile-icon
		width 90px
		height 90px
		padding 5px
	.result-tile-name
		display block
		font-size 12px
		height 13px
		width 100%
		text-overflow hidden
		overflow hidden

h3.results-header
	text-align center !important
	color #aaa
	height 30px
	background #333
	border-right 1px solid white
	padding-top 10px
	border-top 1px solid #999


.nothing-to-show
	height 100%
	width 100%
	position absolute
	background #e5e5e5
	.no-results-message
		text-align center
		position absolute
		bottom 10px
		right 35px
		color #757575
		font-size 20px

	.no-results-img
		width 150px
		position absolute
		bottom 40px
		right 40px
p.album-composite-header
	color darkgrey
	font-size 20px
	font-weight bold
	text-align center
	margin-bottom 15px
	margin-top 15px
img.album-composite-cover
	width 30%
	width 30%
	float left
	margin-left 5%
.album-composite-release
.album-duration 
.album-singer 
	width 62%
	float left
	padding-left 3%
.total_tracks
	clear both
	margin-left 12%
	
img.no-item-to-show
	width 150px
	height 150px
	opacity 0.3
	margin auto
	display block

.item-not-found
	color darkgrey
	font-size 25px
	position absolute
	top 45%
	left 20%
	bottom 10px


#user
	width 100%
	height auto
	box-sizing border-box

	#userinfo
		width 100%
		height 250px

		#avatar
			width 200px
			height 200px
			float left
			padding 20px

		#info
			width auto
			height auto
			float left
			padding 20px
			box-sizing border-box

			.name
				width auto
				height auto
				padding-bottom 10px

			.info-field
				width auto
				height auto
				font-size 12px

			#music-statistic
				width auto
				height 100px
				margin-top 15px

				.statistic-title
					width auto
					height auto
					font-size 12px
					float left
					padding-right 10px

				.statistic-field
					width auto
					height auto
					font-size 12px
					float left
					padding-right 5px
					cursor pointer

				.statistic-bar
					width 300px
					height 30px
					position absolute
					margin-top 20px
					border 1px gray solid
					overflow hidden
					
					.statistic-bar-strip
						height 30px
						float left

				.statistic-legend
					width 300px
					height 50px
					position absolute
					margin-top 60px
					border 1px gray solid
					border-radius 3px
					overflow hidden
					overflow-y auto

					.legend-item
						width auto
						height 20px
						float left

						.item-box
							width 10px
							height 10px
							margin 5px
							float left
							display none

						.item-name
							width auto
							height 10px
							padding 5px 0
							font-size 12px
							line-height 12px
							float left
							display none

	.subtitle
		width auto
		height auto
		padding 10px 20px
		cursor pointer

	#user-favorites
		width auto
		height auto
		margin-bottom 10px

	#user-listened
		width auto
		height auto
		margin-bottom 10px

	#user-playlists
		width auto
		height auto
		margin-bottom 10px

#player
	height 60px
	min-width 1280px
	margin 0 auto
	background:  #333

#player-content
	height 70px 
	width 80%
	margin auto

#song-block
	color white
	position relative
.song-info
	position absolute

#song-name
	top 5px
	left 27%
	overflow hidden
	height 18px
	width 45%

#song-duration
	top 37px
	left 67%

#song-position
	top 37px
	left 27%

#main-container
	background white
	float left
	width 60%
	overflow hidden
	overflow-y auto
	position absolute
	top 120px
	bottom 30px
	margin-left 15%

	&.toggled-main
		width 85%

	#add-social-profile
		width 100%
		height 40px
		padding 5px
		box-sizing border-box
		border-top 1px solid #999
		background #333

		.socialButton
			width auto
			height 100%
			line-height 30px
			float right
			margin 0 5px
			padding 0 2px
			display block
			font-size 12px
			text-decoration none
			color white
			border hidden
			border-radius 3px

			&:hover
				background #3ac

			&.disabled
				display none
		#syncvk
			background orange
			padding 0 5px 0
			cursor pointer
			&:hover
				background #3cc

#main-bar-header
	width 100%
	height 40px
	background #333
	margin 0px auto
	border-top 1px solid #999

	#genres-select
		display inline-block
		height 30px
		margin-right 20px
		margin-left 25%
		option
			padding 5px
	#album-select
	#artist-select
	#track-select
		padding 10px	
		display inline-block
		height 20px
		text-align center
		border-left 1px solid grey
		color white
		width 80px
		&:last-child
			border-right 1px solid grey
		&:hover
			background #39d

#song-info-content
	#song-info-text
		width 90%
		margin 3% auto
	#song-info-image 
		width 200px
		height 200px
		margin 3% auto
		img
			width 190px
			

.album-bar-wrapper
	margin auto
.album-bar 
	width 150px
	height 200px
	background-size 150px
	float left
	margin 10px
	position relative
	overflow hidden
	img.albumCover
		width 150px

	.artistAlbum
		width 100%
		height 15%
		background white
		opacity 1
		text-align center

	.totalTracksAlbum
		width 100%
		height 15px		
		background white
		opacity 1
		text-align center
		
	.nameAlbum
		position absolute
		bottom 0
		width 100%
		height 15px
		background white
		opacity 1
		text-align center
		overflow hidden
		text-overflow hidden
#comment-buttons-wrapper
	width 100%
	margin auto
	height 30px
	#show-song
		width 50%
		height 30px
		background linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%)
		float left
		border-right 1px solid lightgrey
		text-align center
		box-sizing border-box
	#show-comments
		width 50%
		height 30px
		background linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%)
		float left
		text-align center
#add-comment
	width 40px
	background lightblue
	cursor pointer
#comment-layout-content
	#song-text
		width 90%
		margin 2% auto
	#new-comment
		margin 3%
		width 80%
		float left
	#add-comment
		margin-top 3%
		float left
		width 5% 
		
#song-text-name
	font-size 14px
	font-weight bold
#menu-wrap
	position absolute
	width 15%
	top 120px
	bottom 30px
	box-shadow 2px 0 5px rgba(50,50,50,0.5)
	background #eee
	z-index 1
	&::-webkit-scrollbar
		display none
	#menu
		width 100%

	#menu li
		height 38px
		border-bottom 1px solid darkgrey
		list-style-type none;
		background #efefef
		&:hover
			cursor pointer

		.menu-icon
			width 28px
			height 28px
			float left
			opacity: 0.5
			margin-top 4px
			margin-left 4px
			margin-right 4px
			
			&.favourites-image
				background: url('../images/menu/favorites.png') no-repeat;
				background-size: 28px
			&.show-playlists 
				background: url('../images/menu/playlists.png') no-repeat;
				background-size: 28px
			&.show-groupes
				background: url('../images/menu/radios.png') no-repeat;
				background-size: 28px
			&.show-by-genres 
				background: url('../images/menu/genres.png') no-repeat; 
				background-size: 28px
			&.show-by-artists
				background: url('../images/menu/artists.png') no-repeat;
				background-size: 28px
			&.show-by-albums
				background: url('../images/menu/albums.png') no-repeat;
				background-size: 28px
			&.show-by-charts
				background: url('../images/menu/charts.png') no-repeat;
				background-size: 28px
		.name
			padding-top 10px
		&:hover 
			background Skyblue
	#playlist-menu-container
		margin-left 0px
		position absolute
		top 200px
		bottom 0px
		overflow scroll
		.menu-playlist-item
			height 30px
			line-height 30px
			vertical-align middle
			position relative
			overflow hidden
			&:hover
				background lightblue
			.playlist-name-menu
				color black
				padding-right 35px
				padding-left 15px
				cursor pointer
				border-bottom 1px solid #ddd
			.delete-menu-playlist
				width 30px
				height 30px
				background url('../images/notifications/bin.png') no-repeat 50%
				background-size 16px
				position absolute
				right 0
				top 0
				opacity 0.5
				&:hover
					cursor pointer
					opacity 1
						
					
		.add-playlist-button
			background #c0c0c0
			padding 2% 0 2% 2%
			cursor pointer
			font-size 14px
			img 
				width 15px
				float left
				padding 0 3px 0
			&:hover 
				background #fff
	.edit 
		display none

	.editing .edit
		display block
		width 100%
		padding 6px 10px
		box-sizing border-box
		position absolute
		z-index 2
		top 195px
		border 1px solid lightblue

#songlist-navi
	width 100%
	background Snow
	opacity 1
	top 0px
	height 40px
	border-top 1px solid #999

	> div
		color white
		text-align center
		line-height 40px
		vertical-align middle
		width 33.3%
		height 40px
		margin 0
		float left
		cursor pointer
		background #333
		border-left 1px solid #fff
		box-sizing border-box
		&:first-child
			border-left none

	&:hover
		opacity 1
	#unqueue
		&:hover
			background #3ac
	#save-playlist-from-queue
		&:hover
			background #3ac
		.can-save-playlist
			opacity 1
	#save-playlist-as
		&:hover
			background #3ac

.toggled
	display none
#sidebar
	position absolute
	background #eee
	width 25%
	float left
	right 0px
	top 120px
	bottom 30px
	box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.5);
	
	#sidebar-region
		width 100%
		top 0px
		position absolute
		bottom 5px
		display block
		overflow auto
		&::-webkit-scrollbar
			display none

	.input-wrapper-sidebar	
		position absolute
		display none
		.edit2 
			position absolute
			display block
			width 100%
			height 36px
			font-size 20px
			margin-top 0px
			left 0%
			border 2px solid lightblue
			padding-left 55px
			z-index 20
		.enter-button-add
			position absolute
			top 2px
			width 50px
			height 36px
			background #3399CC
			z-index 21
			border-radius 2px
			&:hover
				background orange
		.close-enter-add
			width 16px
			height 16px
			background url(../images/notifications/delete.png)
			background-size 16px
			position absolute
			z-index 21
			right 3px
			top 3px
			opacity 0.5
			&:hover
				opacity 1
			
	.editing2 .input-wrapper-sidebar	
		display block
		width 100%

#undo-replace
	width 100px
	height 40px
	padding 5px
	color lightblue
	position absolute
	z-index 20
	right 10px
	bottom 35px

.friend
	padding 2%
	width 90%
	height 50px
	display block
	margin 5px
	position relative
	border-radius 2px
	background #fefefe
	box-shadow 0 0 5px 0 rgba(50,50,50,0.5)
	img
		width 50px
		height 50px
		float left
	p 
		float left
	div 
		img
			position absolute
			top 2px
			right 2px
			width 12px
			height 12px
#friends-navi
	background Snow
	opacity 1
	height 40px
	border-top 1px solid #999
	.friends-navi
		height 40px
		line-height 40px
		vertical-align middle
		width 50%
		float left
		color white
		background #333
		text-align center
		cursor pointer
		border-left 1px solid #fff
		box-sizing border-box
		&:first-child
			border-left none
		&:hover
			background #39b

.notification-message 
	display block
	border-radius 2px
	background #fefefe
	opacity 0.8
	margin 0 auto 0
	padding 2%
	width 90%
	box-shadow 0px 0px 5px 0px rgba(50, 50, 50, 0.5)
	margin-bottom: 5px
	position relative
	
	&.newNotification
		background PeachPuff
	&:last-child 
		border none

	.information-part
		padding-right 16px

	.removeNotification
		width 16px
		height 16px
		position absolute
		background: url('../images/notifications/delete.png') no-repeat;
		background-size: 16px
		right 2px
		top 2px
		opacity 0.3

		&:hover 
			opacity 1

	.renewMessage
		width 16px
		height 16px
		position absolute
		background: url('../images/notifications/notification.png') no-repeat;
		background-size: 16px
		right 2px
		top 18px
		opacity 0.3

		&:hover 
			opacity 1
//.sidebar-clear
//	clear both
#sidebar-nav
		clear both
		float right
		background #2b2e31
		width 25%
		height 30px
		background #2b2e31
		border-top 1px solid darkgrey
		position absolute
		bottom 0px
		right 0px
		li
			float right
			height 25px
			list-style-type none;
			display: inline-block
			width 24%
			border-right 1px solid lightgrey

			&:last-child
				border-right none

			&#friendsButton
				background: url('../images/sidebar/friends.png') no-repeat;
				background-size: 25px
				opacity: 0.5
				background-position: center
				&:hover
					opacity 1
			&#musicButton
				background: url('../images/sidebar/music.png') no-repeat;
				background-size: 25px
				background-position: center
				opacity: 0.5
				&:hover
					opacity 1
			&#infoButton
				background: url('../images/sidebar/info.png') no-repeat;
				background-size: 25px
				background-position: center
				opacity: 0.5
				&:hover
					opacity 1
			&#hideButton
				background: url('../images/sidebar/hide.png') no-repeat;
				background-size: 25px
				background-position: center
				opacity: 0.5
				&:hover
					opacity 1
				&.toggled-button
					display none
.notifHeadWrapper
	display block
	margin 0 auto 0
	padding 2%
	h3
		
		display block
		wigth 80%
		
.deleteAll
	width 16px
	height 16px
	top 0
	opacity 0.3
	background: url('../images/notifications/bin.png') no-repeat;
	background-size: 16px

	&:hover
		opacity 0.9
.song-item
	width 100%
.sidebar-song-wrap
	width 100%
	margin 0px auto
	height 50px
	border-radius 0px
	background #F3F4F8
	position relative
	border-bottom: 1px solid #DADADA;
	border-top: 1px solid rgb(253, 253, 253);
	
	&:hover 
		background linear-gradient(to top, rgba(73,192,240,0.2) 0%,rgba(44,175,227,0.2) 100%)

	.sidebar-song-img-box 
		background grey
		img
			width 40px
			height 40px
			float left
			padding 5px

	.sidebar-song-header
		padding 5px 0 5px 0
		height 15px
		overflow hidden
		text-overflow ellipsis
		display block
		width 70%

	.sidebar-song-info
		margin-left 50px
		height 20px
		text-overflow ellipsis
		overflow hidden
		display block
		font-size 12px
		width 70%

	.delete-song-from-list
		width 12px
		height 12px
		position absolute
		background: url('../images/notifications/delete.png') no-repeat;
		background-size: 12px
		right 2px
		top 2px
		opacity 0.3

		&:hover 
			opacity 1
	
	.queuepos
		position absolute
		right 0
		bottom 3px
		font-size 10px
		font-weight bold
		margin-right 4px

	.add-song-to-queue
		width 12px
		height 12px
		position absolute
		background: url('../images/songlist/queue.png') no-repeat;
		background-size: 12px
		right 2px
		top 16px
		opacity 0.3

		&:hover 
			opacity 0.7

	&.activesong
		background linear-gradient(to top, rgba(73,192,240,1) 0%,rgba(44,175,227,1) 100%)
		.gif
			position absolute
			left 0
			display block
.gif
	display none

#statistic-title
	width auto
	height 30px
	line-height 30px
	margin 5px
	font-size 20px
	font-weight 700

#statistic
	border-radius 2px
	background #fefefe
	opacity 0.8
	margin 10px
	padding 2%
	width 90%
	box-shadow 0px 0px 5px 0px rgba(50, 50, 50, 0.5)
	position relative
	cursor pointer

	.statistic-info
		width 100%
		height 30px
		background white
		font-size 15px
		font-weight 700
		line-height 30px 
		cursor pointer

#footer
	width 75%
	float left
	height 30px
	background #2b2e31
	border-top 1px solid darkgrey
	position absolute
	bottom 0px

#song-info
	width 70%
	margin 4px 10px
	color #529de1
	float left

.clear
	clear both

.radio-wrapper
	width  300px
	padding 1%
	margin 1%
	height 200px
	display block
	float left 
	background rgba(204,204,204,1) 
	position relative

	.nameRadio
		width 100%
		height 20px
		background linear-gradient(to top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%)
		text-align center
	
	.left-side
		display block
		width 50%
		background white
		opacity 0.8
		float left
		height 90%
		
	.master-avatar
		display block
		width 50px
		margin auto
	.totalTracksRadio
	.listeners
	.masterName
		height 20px
		display block
		margin auto
		text-align center
	.tracks-side
		height 90%
		width 50%
		background white
		opacity 0.5
		float left
	.playicon
		icon_size = 128px
		background url(../images/main/play.gif)
		background-size icon_size
		opacity 0.3
		width icon_size
		height icon_size
		position absolute
		top 50%
		left 50%
		margin-top -(icon_size/2)
		margin-left -(icon_size/2)
		z-index 10
		&:hover
			background url(../images/main/play.gif)
			background-size 128px
			opacity 0.8
			cursor pointer
		&:active 	
			background url(../images/main/play.gif)
			background-size 128px
			opacity 0.5

.playlist-bar-wrapper
	width 512px
	margin-top 35px
	padding 20px
	float left


.playlist-bar
	width 512px
	height 250px
	position relative
	float left
	&:hover
		.playlist-right
			position relative
			height auto
			z-index 10
			box-shadow 0 1px 2px #9ACDDD
	.playlist-date
		font-size 15px
		width 35px
		height 15px
		text-overflow hidden
		overflow hidden
		color #eee
		margin auto

	.playlist-left
		width 250px
		float left
		height 246px
		padding 1px
		margin-right 10px
		text-align center
		position relative
		background url(/../images/main/logo-playlist.jpg) no-repeat
		background-size 100%
		.play-without-open
			display none
			width 30px
			height 20px
			background linear-gradient(to top, #eee 0%, #ddd 100%)
			border-radius 2px
			border 1px solid lightgray

		.playlist-name
			font-size 28px
			margin-top 5px
			height 30px
			text-overflow hidden
			overflow hidden
			color white
			margin-bottom 10px
		.playlist-total
			font-size 15px
			position absolute
			bottom 10px
			left 20px
			color white

		.playlist-private
			position absolute
			width 32px
			height 32px
			right 5px
			bottom 32px
			background: url('/images/lock.png') no-repeat
			background-size 32px
			opacity 0.5
			z-index 5
			&.private
				opacity 1
		.playlist-play
			width 150px
			height 150px
			position absolute
			left 55px
			top 42px
			&:hover
				cursor pointer
				background #333
				opacity 0.4
				&:after
					content ''
					position absolute
					left 50%
					top 50%
					margin-top -18px
					margin-left -15px
					width 30px
					height 36px
					background: url('/images/player/player.png') no-repeat -575px 0


	.playlist-right
		padding 5px
		margin-top 3px
		float left
		width 250px
		background #EBFAFA
		height 242px
		min-height 240px
		text-align center
		overflow hidden
		box-sizing border-box
		.songs-list
			text-align left
			list-style-type decimal-leading-zero
			list-style-position inside
			height 240px
			overflow hidden
		.songname-playlist
			text-overflow ellipsis
			overflow hidden
			font-size 13px
			height 15px
			width 90%
			white-space nowrap

#charts-header
	width 100%
	height 50px
	padding 5px 50px
	box-sizing border-box

	.charts-select-button
		width auto
		height auto
		border 1px lightgray solid
		border-radius 3px
		padding 2px 5px
		margin 5px
		float left
		cursor pointer

		&:hover
			background lightgray

.main-song-item
	width 90%
	height 40px
	margin auto
	margin-bottom 2px
	position relative
	background #fff
	border-radius 5px
	box-shadow 0 2px 3px rgba(0, 0, 0, 0.4)
	&.activesong
		background lightblue
	.main-share-song
		width 16px
		height 16px
		background url(../images/main/share.png)
		background-size 16px
		position absolute
		z-index 15
		right 2px
		top 2px
		opacity 0
	.main-song-cover
		width 30px
		margin 5px
		height 30px
		float left
		background url(/../images/default/cover.png) no-repeat
		background-size 30px
		&:hover 
			background url(/../images/songlist/play_mini.jpg) no-repeat
			background-size 30px
	.main-song-cover img
		width 30px
		height 30px
		float left

	.main-song-info
		float left
		height 30px
		overflow hidden
		display inline
		width 80%

		.main-song-name
			padding-top 10px
			height 20px
			text-overflow ellipsis
		.main-song-album
			display block
			height 20px
			font-size 12px
	
	.main-queue-add
		width 16px
		height 16px
		background url(../images/main/nothing.png)
		background-size 16px
		position absolute
		z-index 15
		right 20px
		top 2px
		opacity 0
		&:hover
			opacity 1 !important
	.main-like-song
		width 16px
		height 16px
		background url(../images/main/like.png)
		background-size 16px
		position absolute
		z-index 15
		right 38px
		top 2px
		opacity 0
		&:hover
			opacity 1 !important
		&.true
			opacity 1 !important
		
	&:hover
		background #eee
		.main-share-song
		.main-like-song
			opacity 0.5
		.main-queue-add
			opacity 0.5

			
	.queueposmain
		position absolute	
		right 60px
.global-zeroclipboard-container:hover
	background url(../images/main/share.png)
	background-size 16px
	opacity 0.8

#header-playlist-wrapper
	header_playlist_bg = rgb(243, 251, 255)
	width 100%
	position relative
	min-height 200px
	background header_playlist_bg
	box-shadow 0 10px 20px 10px  header_playlist_bg

	#playlist-avatar-header 
		width 190px
		height 180px
		position relative
		float left
		img
			position  absolute
			width 170px
			height 150px
			padding 10px

	#header-playlist-info
		position absolute
		display inline
		padding-top 10px
		#playlist-header-name
			font-size 30px
			color Dark
		#playlist-header-tracks-num
			font-size 13px
			color #4f4f51

button
	margin auto 3px 
	background #2b2e31
	border none

.player-button
	height 25px
	width 25px
	background-size cover
	float left
	cursor pointer
	margin-top 22px
	background-image: url(/images/player/player.png)
	background-repeat: no-repeat
	background-size 400px 64px
	&:focus
		outline 0

#play-button
	height 30px
	width 30px
	margin-top 10px
	&.pause
		background: url('/images/player/player.png') no-repeat -575px 0;
		width: 40px;
		height: 40px;
		&:hover
			background-position: -575px -256px;

	&.play
		background: url('/images/player/player.png') no-repeat -640px 0;
		width: 40px;
		height: 40px;
		&:hover
			background-position: -640px -256px;

#next-button
	margin-top 15px
	background: url('/images/player/player.png') no-repeat -447px 0;
	width 3%
	height: 42px;
	&:hover
		background-position: -447px -256px;
	&:active
		background-position: -447px -256px;
	&:disabled
		background-position: -447px -192px;

#previous-button
	margin-top 15px
	background: url('../images/player/player.png') no-repeat -512px 0;
	width 3%
	height: 42px;
	&:hover
		background-position: -512px -256px;
	&:active
		background-position: -512px -256px;
	&:disabled
		background-position: -512px -192px;

#volume
	margin 21px 0 0 5px
	width: 2%;
	height: 28px;
	background: url('/images/player/player.png') no-repeat -384px 0;
	&.mute
		background-position: 0 0;

#volume-range
	width 10%
#playback-range
	width 45%

#shuffle-button
	width 32px
	&.shuffleoff
		width: 2%;
		height: 18px;
		background: url('/images/player/player.png') no-repeat -256px -65px;
		&:hover
			background-position: -256px -1px;

	&.shuffleon
		background: url('../images/player/player.png') no-repeat -256px -129px;
		width: 2%;
		height: 18px;
		&:hover
			background-position: -256px -1px;

#repeat-button
	width 32px
	height 25px
	&.song
		background: url('../images/player/player.png') no-repeat -192px -129px;
		width: 2%;
		height: 15px;
		&:hover
			background: url('../images/player/player.png') no-repeat -192px -1px;
		&:active
			background: url('../images/player/player.png') no-repeat -192px -1px;

	&.none
		background: url('../images/player/player.png') no-repeat -320px -64px;
		width: 2%;
		height: 17px;
		&:hover
			background: url('../images/player/player.png') no-repeat -320px 0;
		&:active
			background: url('../images/player/player.png') no-repeat -320px 0;

	&.album
		background: url('../images/player/player.png') no-repeat -320px -128px;
		width: 2%;
		height: 17px;
		&:hover
			background: url('../images/player/player.png') no-repeat -320px 0;
		&:active
			background: url('../images/player/player.png') no-repeat -320px 0;


#like-button
	background: url('../images/player/player.png') no-repeat -64px -65px;
	width: 2%;
	height: 16px;
	&:hover
		background: url('../images/player/player.png') no-repeat -64px -1px;
	&:active
		background: url('../images/player/player.png') no-repeat -64px -129px;
	&.true
		background: url('../images/player/player.png') no-repeat -64px -129px;

#comment-button
	background: url('../images/player/player.png') no-repeat -128px -65px;
	width: 20px;
	height: 18px;
	&:hover
		background: url('../images/player/player.png') no-repeat -128px -1px;
	&:active
		background: url('../images/player/player.png') no-repeat -128px -129px;

#visualisation-button
	background: url('../images/player/visualisation.png') !important
	background-size: 100% 100% !important
	width: 20px
	height: 18px
	margin-left: 5px
	&:hover
		cursor: pointer

input[type='range'] {
	cursor pointer
	float left
	height 6px
	margin 10px
	margin-top 29px
	border: none;
	padding: 1px 2px;
	border-radius: 5px;
	background: #232528;
	box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
	-webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
	outline: none;
}
input[type='range']::-moz-range-track {
	border: inherit;
	background: transparent;
}
input[type='range']::-ms-track {
	border: inherit;
	color: transparent;
	background: transparent;
}
input[type='range']::-ms-fill-lower,
input[type='range']::-ms-fill-upper {
	background: transparent;
}
input[type='range']::-ms-tooltip {
	display: none;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 10px;
	border: none;
	border-radius: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f));
	background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%);
	background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
}
input[type='range']::-moz-range-thumb {
	width: 15px;
	height: 10px;
	border: none;
	border-radius: 12px;
	background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
}
input[type='range']::-ms-thumb {
	width: 15px;
	height: 10px;
	border-radius: 5px;
	border: 0;
	background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
}

/*#shuffle-button*/


/*Sign in styles*/
@import url(signin.styl);
@import url(not_found.styl);


#frequency-visualisation-container
	padding-bottom: 80px
	padding-left: 8px
	overflow: hidden

#frequency-visualisation-canvas
	width: 100%
	@css{
  -webkit-box-reflect: below 5px -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255,255,255,0.2))
	}
