script#user-template(type='text/template')
	div#user
		div#add-social-profile
			a(href='/logout').socialButton(title='Log out') Logout
			a(href='/auth/vkontakte', data-type="vk").socialButton#addVk(title='Add VK account') VK
			a(href='/auth/twitter', data-type="tw").socialButton#addTw(title='Add Twitter account') Twitter
			a(href='/auth/facebook', data-type="fb").socialButton#addFb(title='Add Facebook account') Facebook
		div#userinfo
			img#avatar('src={{-avatarUrl}}')
			div#info
				div.name {{-name}}
				div.info-field Age: {{-age}}
				div.info-field e-mail: {{-email}}
				div.info-field Country: {{-country}}
				#syncvk sync
				div#music-statistic
					div.statistic-title
					div.statistic-field#byArtists by Artists
					div.statistic-field#byGenres by Genres
					div.statistic-bar
						div.statistic-bar-strip(style='background-color: #000080')
						div.statistic-bar-strip(style='background-color: #0000ff')
						div.statistic-bar-strip(style='background-color: #4169e1')
						div.statistic-bar-strip(style='background-color: #1e90ff')
						div.statistic-bar-strip(style='background-color: #87ceeb')
						div.statistic-bar-strip(style='background-color: #b0e0e6')
						div.statistic-bar-strip(style='background-color: #e0ffff')
					div.statistic-legend
						div.legend-item
							div.item-box(style='background-color: #000080')
							div.item-name
						div.legend-item
							div.item-box(style='background-color: #0000ff')
							div.item-name
						div.legend-item
							div.item-box(style='background-color: #4169e1')
							div.item-name
						div.legend-item
							div.item-box(style='background-color: #1e90ff')
							div.item-name
						div.legend-item
							div.item-box(style='background-color: #87ceeb')
							div.item-name
						div.legend-item
							div.item-box(style='background-color: #b0e0e6')
							div.item-name
						div.legend-item
							div.item-box(style='background-color: #e0ffff')
							div.item-name
		div#user-favorites
		div#user-listened
		div#user-playlists
