script#user-template(type='text/template')
	div#user
		div#add-social-profile
			a(href='/logout').socialButton(title='Log out') Logout
			a(href='/auth/vkontakte', data-type="vk").socialButton#addVk(title='Add VK account') VK
			a(href='/auth/twitter', data-type="tw").socialButton#addTw(title='Add Twitter account') Twitter
			a(href='/auth/facebook', data-type="fb").socialButton#addFb(title='Add Facebook account') Facebook
		div#userinfo
			img#avatar('src={{-avatarUrl}}')
			div#info
				div.name {{-name}}
				div.field Age: {{-age}}
				div.field e-mail: {{-email}}
				div.field Country: {{-country}}
		div#user-favorites
		div#user-listened
		div#user-playlists
