script#user-template(type='text/template')
	div#user
		img#avatar('src={{-avatarUrl}}')
		div#userinfo
			div#name {{-name}}
			div#info Age: {{-age}}
			div#info e-mail: {{-email}}
			div#info Country: {{-country}}
			#syncvk sync
			div#add-social-profile 
				a(href='/auth/vkontakte', data-type="vk").socialButton#addVk add VK
				a(href='/auth/twitter', data-type="tw").socialButton#addTw add Twitter
				a(href='/auth/facebook', data-type="fb").socialButton#addFb add Facebook
				a(href='/logout') logout