script#user-template(type='text/template')
	div#user
		img#avatar('src={{-avatarSource}}')
		div#userinfo
			div#name {{-name}}
			div#info Age: {{-age}}
			div#info e-mail: {{-email}}
			div#info Country: {{-country}}
			div#addVk.socialButton addVk
			div#addFb.socialButton addFb
			div#addTw.socialButton addTw
