script#album-bar(type='text/template')
	.nameAlbum {{-name}}
	img.albumCover(src='{{-cover}}')
	.artistAlbum {{-singer.name}}
	.totalTracksAlbum Tracks: {{-tracks.length}}

script#album-bar-composite(type='text/template')
	#main-bar-header
		select#genres-select 
			option genres
			option rock
			option pop
			option alternative
			option rap
		#album-select album
		#artist-select artist
		#track-select track
