script#album-header-playlist-template(type='text/template')
	#header-playlist-wrapper
		#playlist-avatar-header
			img#img(src='./images/main/cdholder.png')
		#header-playlist-info
			h1 ALBUM TEMPLATE
			#playlist-header-name {{-name}}
			#playlist-header-tracks-num Created: {{-created}}