script#album-composite-template(type='text/template')
	#album-composite-view-main
	p.album-composite-header {{-title}}
	.album-composite-cover
		img(src="{{-cover}}")
		.add-album-to-list
	.album-composite-release 
		span.bold Release date:
		span {{-release_date}}
	.album-duration 
		span.bold Total duration: 
		span	{{-hours}} : {{-minutes}} : {{-seconds}}
	.album-singer 
		span.bold Singer name: 
		span {{-singer.name}}
	.buttons-wrapper
		.playnow-album Play now
		.append-to-player Append to player
		.share-album(data-clipboard-text='localhost:3055/album/id/{{-_id}}') Share
	.total_tracks 
		span.bold Total tracks: 
		span{{-tracks.length}}

