script#charts-template(type='text/template')
	div#charts-header
		div.charts-select-button.billboard-select-button Billboard
		div.charts-select-button.ben-major-select-button UK Top 40
		div.charts-select-button.itunes-select-button iTunes Top 25
