script#charts-template(type='text/template')
	div#charts-header
		div.charts-select-button.billboard-select-button 
		div.charts-select-button.ben-major-select-button 
		div.charts-select-button.itunes-select-button
	div#charts-container
