script#empty-template(type='text/template')
	h3.results-header SEARCH RESULTS
	div#searchresults-container
		#result-songlist-composite
		#result-artist-composite
		#result-album-composite
		#not_found_song
		#not_found_album
		#not_found_artist

script#admin-template(type='text/template')
	h3.results-header ADMIN VIEW
		.stop-broadcasting stop
		#requiring