script#friends-template(type='text/template')
	div.friend
		img(src='{{-avatarUrl}}')
		p {{-name}}
		div.send-message
			img(src='/../images/sidebar/message.png')
		div.delete-friend 
			img(src='/../images/notifications/delete.png')