script#main-song-bar(type='text/template')
	.main-song-item
		.main-song-cover
		.main-song-info
			.main-song-name
				{{-title}}  
			.main-song-artist
				{{-singer.name}}
		.main-song-friends
			{{ for(var i=0; i<likedId.length; i++){ }}
			a(href="/user/"+'{{-likedId[i]._id}}')
				img(src='{{-likedId[i].avatarUrl}}')
			{{ } }}
		.main-queue-add
		.main-share-song(data-clipboard-text='http://localhost:3055/track/id/{{-_id}}')
		.main-like-song
		.duration_min
			{{-duration_min}}
		.queueposmain {{-queuepos}}

script#main-chart-song-bar(type='text/template')
	.main-song-item
		.main-song-cover
		.main-song-info
			.main-song-name
				{{-title}}  
			.main-song-artist
				{{-singer.name}}
		.main-queue-add
		.main-share-song(data-clipboard-text='http://localhost:3055/track/id/{{-_id}}')
		.main-like-song
		.poschange
			{{if(positionChange>=0) { }}
			{{ positionChange = '+' + positionChange }}
			{{ } }}
			{{-positionChange}}

script#main-header-playlist-template(type='text/template')
	#header-playlist-wrapper
		#playlist-avatar-header
			img#img(src='/./images/main/cdholder.png')
			.playlist-play
		#header-playlist-info
			#playlist-header-name {{-name}}
			#playlist-header-tracks-num Genre: {{-genre}}
			