script#main-song-bar(type='text/template')
	.main-song-item
		.main-song-cover
			img(src='{{-albumCover}}')
		.main-song-info
			.main-song-name
				{{-title}}  {{-singer.name}}
		.main-share-song(data-clipboard-text='http://localhost:3055/track/id/{{-_id}}')
		.main-queue-add
		.main-like-song
		.queueposmain {{-queuepos}}

script#main-header-playlist-template(type='text/template')
	#header-playlist-wrapper
		#playlist-avatar-header
			img#img(src='/./images/main/cdholder.png')
		#header-playlist-info
			#playlist-header-name {{-name}}
			#playlist-header-tracks-num Genre: {{-genre}}
			