script#main-song-bar(type='text/template')
	.main-song-item
		.main-song-cover
			img(src='{{-albumCover}}')
		.main-song-info
			.main-song-name
				{{-title}} - {{-artist}}
		.main-share-song(data-clipboard-text='http://85.17.248.247:3055/user/123/track/{{-id}}')
		.main-queue-add
		.main-like-song
		.queueposmain {{-queuepos}}

script#main-header-playlist-template(type='text/template')
	#header-playlist-wrapper
		#playlist-avatar-header
			img(src='./images/main/cdholder.png')
		#header-playlist-info
			#playlist-header-name {{-playlistName}}
			#playlist-header-tracks-num Total tracks: {{-numberOfTracks}}