script#no-result-template(type='text/template')
	.nothing-to-show
		.no-results-message NO RESULTS...
		img.no-results-img(src='/images/main/nothing.png')

script#artist_not_found_items(type='text/template')
	.result-header Artists
		.item-not-found SORRY, ARTIST NOT FOUND...
		img.no-item-to-show(src='/images/main/noartist.png')

script#song_not_found_items(type='text/template')
	.result-header Songs
		.item-not-found SORRY, SONG NOT FOUND...
		img.no-item-to-show(src='/images/main/noitem.png')

script#album_not_found_items(type='text/template')
	.result-header Album
		.item-not-found SORRY, ALBUM NOT FOUND...
		img.no-item-to-show(src='/images/main/noalbum.png')

