script#playlist-bar(type='text/template')
	.playlist-left
		.play-without-open play
		.playlist-name 
			{{-name}}
		.playlist-date
			{{-created}}
		.playlist-cover
		.playlist-total
			span Total tracks: {{-tracks.length}}
		.playlist-play
		.playlist-private
	.playlist-right
		ol.songs-list
			{{for (var i = 0; i < tracks.length; i ++){}}
			li.songname-playlist{{-tracks[i].artist}} {{-tracks[i].title}}
			{{}}}