script#radio-bar(type='text/template')
	.radio-wrapper
		.left-side
			.nameRadio {{-name}}
			.first-track-in-list you will listen:
			{{ var tracksnames = 2; if (tracks.length < 2) tracksnames = tracks.length; for (var i = 0; i < tracksnames; i ++){}}
			.tracksnames {{-tracks[i].title}}, 
			{{}}}...
			table.recommend-radio-wrapper
				tr
					td(rowspan='2')
						img.master-avatar(src='{{-user_auth_id.avatarUrl}}')
					td.recommend-channel-header THIS CHANNEL CREATED by
				tr
					td.masterName {{-user_auth_id.name}}
			p.first-track-in-list Total tracks: {{-tracks.length}}
		.tracks-side
			.first-track-in-list They are listening to this radio : 
			.listeners-list-wrap
				{{for (var i = 0; i < listeners.length; i ++){}}
				img(src='{{-listeners[i].avatarUrl}}')
				{{}}}
			.playicon Listen
			.ask-for-rights Be editor
			.stop-listening Stop listen
			

script#radio-main-header(type='text/template')
	.radio-main-header RADIO
	.create-new-radio Start broadcasting
	#radio-bars-container