script#radio-bar(type='text/template')
	.radio-wrapper
		.playicon
		.nameRadio{{-name}}
		.left-side
			.masterName{{-master.name}}
			img.master-avatar(src='{{-master.avatarUrl}}')
			.listeners Listeners now : {{-listeners}}
		.tracks-side
			.totalTracksRadio Tracks: {{-totalTracks}}
			{{-tracks}}
