script#artist-tile-template(type='text/template')
	img.result-tile-icon(src='{{-picture}}')
	.result-tile-name {{-name}}
	.result-tile-info Total albums: {{-albums_id.length}}

script#album-tile-template(type='text/template')
	img.result-tile-icon(src='{{-cover}}')
	.result-tile-name {{-title}}
	.result-tile-info
