script#result-songlist-template(type='text/template')
	span.result-header Songs   
	.childMainContainer
	p.show-full-song-search show more songs...

script#result-albumlist-template(type='text/template') 
	span.result-header Albums   
	.childMainContainer
	p.show-full-album-search show more songs...

script#result-artistlist-template(type='text/template') 
	span.result-header Artists   
	.childMainContainer
	p.show-full-artist-search show more songs...

