script#song-template(type='text/template')
	div
		#song-text-name {{-title}} - {{-artist}}
		div {{-albumTitle}}
		div#song-info-image 
			img(src='{{-albumCover}}')
		#duration
		button add
		button share