script#notification-template(type='text/template')
	h4 {{-name}}
	span {{-additionalInfo}}
	button.removeNotification delete

script#friendrequest-template(type='text/template')
	h4 {{-name}}
	span {{-additionalInfo}}
	button.acceptFriend Accept
	button.declineFriend Decline

script#notifications-composite-template(type='text/template')
	button.deleteAll Delete all messages