script#notification-template(type='text/template')
	div.information-part
		h4 {{-name}}
		span {{-additionalInfo}}
	div.functional-part
		div.removeNotification
		div.renewMessage

script#notifications-composite-template(type='text/template')
	button.deleteAll Delete all messages

script#notification-icon-template(type='text/template')
	div#notification-icon
		div#unreadNumber {{-unread}}