script#sidebar-template(type='text/template')
	ul
		li#hideButton
		li#infoButton
		li#musicButton
		li#friendsButton

script#sidebar-default-template(type='text/template')
	span test bar

script#song-item-template(type='text/template')
	div.sidebar-song-wrap
		div.sidebar-song-img-box
			img(src="{{-albumCover}}")
			img.gif(src='/../images/songlist/blue_equalizer.gif')
		.sidebar-song-header
			h4(title='{{-title}} - {{-singer}}') {{-title}}
		.sidebar-song-info 
			{{-singer.name}}
		.delete-song-from-list
		.add-song-to-queue
		.queuepos {{-queuepos}}

script#sidebar-songlist-navi(type='text/template')
	#songlist-navi
		#unqueue unqueue
		#save-playlist-from-queue save playist
		#save-playlist-as save as...
		.input-wrapper-sidebar
			input.clearable.edit2
			.enter-button-add Add
			.close-enter-add
	#sidebar-songlist-container


script#sidebar-friends-navi(type='text/template')
	#friends-navi
		#followers.friends-navi followers
		#followings.friends-navi followings
	input#filter-friend(type='text' placeholder='type to find friend')
	img.filter-image(src='/../images/sidebar/filter.png')

script#undo-template(type='text/template')
	button#undo-replace UNDO LAST CHANGES
