script#sidebar-template(type='text/template')
	ul
		li#hideButton(title='Hide sidebar')
		li#infoButton(title='My statistic')
		li#musicButton(title='Song queue list')
		li#friendsButton(title='My followers/followings')

script#sidebar-default-template(type='text/template')
	span test bar

script#song-item-template(type='text/template')
	div.sidebar-song-wrap
		div.sidebar-song-img-box
			.sidebar-song-cover
			img.gif(src='/../images/songlist/blue_equalizer.gif')
		.sidebar-song-header
			h5(title='{{-title}} - {{-singer}}') {{-title}}
		{{if (singer._id === '#'){}}
		{{singer._id = '/search/nothing_found_sorry'}}
		{{} else {}}
		{{singer._id = '/artist/id/' + singer._id + '/albums'}}
		{{}}}
		a.sidebar-song-info(href='{{-singer._id}}')  
			{{-singer.name}}
		.delete-song-from-list
		.add-song-to-queue
		.queuepos {{-queuepos}}

script#sidebar-songlist-navi(type='text/template')
	#songlist-navi
		#unqueue(title='Unqueue songs')
			.unqueue
		#clearall(title='Clear queue list')
			.clearall
		#save-playlist-from-queue(title='Save changes to current playlist')
			.save-playlist-from-queue
		#save-playlist-as(title='Save to new playlist')
			.save-playlist-as
		.input-wrapper-sidebar
			input.clearable.edit2
			.enter-button-add Add
			.close-enter-add
	#sidebar-songlist-container


script#sidebar-friends-navi(type='text/template')
	#friends-navi
		#followers.friends-navi FOLLOWERS
		#followings.friends-navi FOLLOWING
	input#filter-friend(type='text' placeholder='type to find friend')
	img.filter-image(src='/../images/sidebar/filter.png')

script#undo-template(type='text/template')
	button#undo-replace UNDO
