script#sidebar-template(type='text/template')
	ul
		li#hideButton
		li#infoButton
		li#musicButton
		li#friendsButton

script#sidebar-default-template(type='text/template')
	span test bar

script#song-item-template(type='text/template')
	div.sidebar-song-wrap
		div.sidebar-song-img-box
			img(src="{{-albumCover}}")
			img.gif(src='/../images/songlist/blue_equalizer.gif')
		.sidebar-song-header
			h4(title='{{-title}} - {{-singer}}') {{-title}}
		.sidebar-song-info 
			{{-singer}}
		.delete-song-from-list
		.add-song-to-queue
		.queuepos {{-queuepos}}

script#sidebar-songlist-navi(type='text/template')
	#songlist-navi
		#unqueue unqueue
		#save-playlist-from-queue save playist
		#save-playlist-as save as...
		input.edit2

script#sidebar-friends-navi(type='text/template')
	#friends-navi
		#followers.friends-navi followers
		#followings.friends-navi followings

script#undo-template(type='text/template')
	button#undo-replace UNDO LAST CHANGES
