script#statistic-template(type='text/template')
	div#statistic
		div#listened Listened: {{-listened}}
		div#playlists Playlists: {{-playlists.length}}
		div#followers Followers: {{-followers.length}}
		div#liked Liked: {{-liked.length}}
