script#statistic-template(type='text/template')
	div#statistic-title STATISTIC
	div#statistic
		div.statistic-info Listened: {{-listened}}
		div.statistic-info Playlists: {{-playlists.length}}
		div.statistic-info Followers: {{-followers.length}}
		div.statistic-info Liked: {{-liked.length}}
